@import url("https://cdn.web-fonts.ge/fonts/bpg-glaho-bold/css/bpg-glaho-bold.min.css");

.title {
    font-family: "BPG Glaho Bold", sans-serif;
}
.title2 {
	font-family: 'ALK Rex Bold';
}
.title3 {
	margin-bottom: 20px;
	font-family: 'Srisakdi', cursive;
}
.title4 {
	font-family: 'Raleway-Black';
	margin-bottom: 10px;
}
.image{
	height: 100px;
	margin-right: 10px;
	vertical-align: top;
}
.box1{
	width: 1170px;
	margin: 0 auto;
}
.d-block{
	display: inline-block;
}
.wrapper-box {
	width: 570px;
	background-color: #F2F2F2;
	padding: 10px;
	vertical-align: top;
}
.text {
	width: 355px;
}